<header>
    <h1>{{h1Title}}</h1>
    <a href="/">Home</a>
    <b>&nbsp;</b>
    <a href="/about">About&nbsp;Us </a>
    <b>&nbsp;</b>
    <a href="/contact">Contact&nbsp;Us</a>
    <b>&nbsp;</b>
    <a href="/weather">Weather&nbsp;</a>
</header>