<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/style/styles.css">
<link rel="icon" type="image/x-icon" href="/image/favicon.ico">
<head>
    <title>{{title}}</title>
</head>

<body>

    {{> header}}
    <h2>{{Error}}</h2>
    {{> footer}}
</body>

</html>